/* MAIN CSS FILE */

* {
    padding: 0;
    margin: 0;
}


@font-face {
    font-family: 'OpenSansLight';
    src: url('/font/OpenSansLight/OpenSansLight.eot');
    src: url('/font/OpenSansLight/OpenSansLight.eot?#iefix') format('embedded-opentype'),
    url('/font/OpenSansLight/OpenSansLight.woff') format('woff'),
    url('/font/OpenSansLight/OpenSansLight.ttf')  format('truetype'),
    url('/font/OpenSansLight/OpenSansLight.svg#OpenSansLight') format('svg');
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('/font/OpenSansRegular/OpenSansRegular.eot');
    src: url('/font/OpenSansRegular/OpenSansRegular.eot?#iefix') format('embedded-opentype'),
    url('/font/OpenSansRegular/OpenSansRegular.woff') format('woff'),
    url('/font/OpenSansRegular/OpenSansRegular.ttf')  format('truetype'),
    url('/font/OpenSansRegular/OpenSansRegular.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('/font/OpenSansSemiBold/OpenSansSemiBold.eot');
    src: url('/font/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix') format('embedded-opentype'),
    url('/font/OpenSansSemiBold/OpenSansSemiBold.woff') format('woff'),
    url('/font/OpenSansSemiBold/OpenSansSemiBold.ttf')  format('truetype'),
    url('/font/OpenSansSemiBold/OpenSansSemiBold.svg#OpenSansSemiBold') format('svg');
}

@font-face {
    font-family: 'FontAwesome';
    src: url('/font/FontAwesome/FontAwesome.eot');
    src: url('/font/FontAwesome/FontAwesome.eot?#iefix') format('embedded-opentype'),
    url('/font/FontAwesome/FontAwesome.woff') format('woff'),
    url('/font/FontAwesome/FontAwesome.ttf')  format('truetype'),
    url('/font/FontAwesome/FontAwesome.svg#FontAwesome') format('svg');
}

@font-face {
    font-family: 'SimpleLineIcons';
    src: url('/font/SimpleLineIcons/SimpleLineIcons.eot');
    src: url('/font/SimpleLineIcons/SimpleLineIcons.eot?#iefix') format('embedded-opentype'),
    url('/font/SimpleLineIcons/SimpleLineIcons.woff') format('woff'),
    url('/font/SimpleLineIcons/SimpleLineIcons.ttf')  format('truetype'),
    url('/font/SimpleLineIcons/SimpleLineIcons.svg#SimpleLineIcons') format('svg');
}

html, body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
}

section:not(#intro) {
    width: 100%;
    height: 100%;
}

#intro {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 25px;
}

.title, .subtitle, .p-content {
    color: #555;
    font-size: 42pt;
    font-weight: 100;
    font-family: "OpenSansLight", Helvetica, Arial, sans-serif;
    text-align: center;
}

.subtitle {
    font-size: 18pt;
    font-weight: normal;
}

.p-content {
    font-size: 12pt;
    font-family:  "OpenSansRegular", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.icon {
    font-family: "SimpleLineIcons";
    color: #555;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* MENU NAV CONTENT */

#main-menu {
    padding-right: 5px;
    position: fixed;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#main-menu ul {
    text-align: right;
}

#main-menu li {
    cursor: pointer;
    list-style: none;
    min-width: 100px;
    text-align: right;
    margin-bottom: 5px;
    position: relative;
}

#main-menu li span.nav-icon {
    width: 4px;
    height: 4px;
    background: #555;
    display: inline-block;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 0px solid #555;
    vertical-align: middle;
    margin-right: 3.5px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition:  0.3s;
}

#main-menu li span.nav-text {
    right: 17px;
    top: 3.5px;
    opacity: 0;
    font-size: 10pt;
    position: absolute;
    color: #555;
    font-family: "OpenSansRegular", Helvetica, Arial, sans-serif;
}

#main-menu li:hover span.nav-text {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition:  0.3s;
    opacity: 1;
}

#main-menu li.active span.nav-icon {
    width: 10px;
    height: 10px;
    background: none;
    border: 1px solid #555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-right: -0.5px;
}

/* SPLASH PAGE */

#splash {
    background-image: url("images/new-york-vintage7-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#splash #splash-content {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

#splash .title, #splash .subtitle {
    color: #fff;
}

/* INTRODUCTION PAGE */

#intro-content {
    padding-top: 35px;
}

#devices-img {
/*    border: 1px solid #ff0000;*/
    margin-left: -15%;
    width: 80%;
    margin-top: 15%;
}

#intro #items-container {
    max-width: 1200px;
    margin: auto;
/*    display: none;*/
}

#intro #items-container .item {
    max-width: 24%;
    display: inline-block;
    margin: 0 1px;
}

#item-icon {
    vertical-align: bottom;
    margin-top: 50px;
    font-size: 65px;
    text-align: center;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-bottom: -15px;
}

